/vendor/
/.phpunit.cache/
/storage/logs/
/public/uploads/
*.log
.DS_Store
Thumbs.db

TODO/


#claude
.claude/

#confis private
config.ini

#refs
archives/

#node: so para vendorizar os icones em public/assets/icons
node_modules/
